---
layout: home
---
    <div class="container-fluid p-lg-3">
 
<div class="row p-3  ">


<div class="col-md-4">
   
<h2 class="gtitle4 text-center">GALLERY</h2>
<!----------------------------------------------CAROUSEL------------------------------------------->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  

    
    <div class="carousel-inner" >

      <div class="carousel-item active  "   data-bs-interval="20000">
        <img src="images/pics/draw2.png" class="img-fluid " alt="">
      </div>

      <div class="carousel-item "  data-bs-interval="20000">
        <img src="images/pics/draw1.png" class="img-fluid " alt="">
      </div>


      <div class="carousel-item "   data-bs-interval="20000">
        <img src="images/pics/draw3.png" class="img-fluid " alt="">
      </div>

      <div class="carousel-item"  data-bs-interval="20000">
        <img src="images/pics/draw4.png" class="img-fluid " alt="">
      </div>

      
      <div class="carousel-item "  data-bs-interval="20000">
        <img src="images/pics/pdraw1.jpg" class="img-fluid " alt="">
      </div>


      <div class="carousel-item "   data-bs-interval="20000">
        <img src="images/pics/pdraw2.jpg" class="img-fluid " alt="">
      </div>

      <div class="carousel-item"  data-bs-interval="20000">
        <img src="images/pics/pdraw3.jpg" class="img-fluid " alt="">
      </div>

     
      <div class="carousel-item "   data-bs-interval="20000">
        <img src="images/pics/pdraw5.jpg" class="img-fluid " alt="">
      </div>

      <div class="carousel-item"  data-bs-interval="20000">
        <img src="images/pics/pdraw6.jpg" class="img-fluid " alt="">
      </div>

      
      <div class="carousel-item "  data-bs-interval="20000">
        <img src="images/pics/pdraw7.jpg" class="img-fluid " alt="">
      </div>


      <div class="carousel-item "   data-bs-interval="20000">
        <img src="images/pics/pdraw8.jpg" class="img-fluid " alt="">
      </div>

    
                </div>

           

<div class="py-3 text-center">
    <button class="" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="btn-lg">Previous</span>
      </button>
      <button class="" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class=" btn-lg">Next</span>
      </button>
</div>
              
      </div>

      <!----------------------------------------------CAROUSEL------------------------------------------>



</div>
<div class="col-md-8 m-0 ">
{%include mission.html%}
</div>
</div>


{%include logopart.html%}

</div>
   

