---
layout: home
---
    <div class="container-fluid p-lg-3 m-0">
 
<div class="row p-3  ">


<div class="col-md-4">
  
  
  <h2 class="gtitle2 text-center p-1">BUY G-REALM 3D PACK</h2>
  <h4 class="text-center gbutton p-1">
    Featuring Superbook
  </h4>
  <p class="text-center p-md-5 my-3">
    <img src="images/superbook.png" alt="" class="img-fluid">
  </p>
  <p class="text-center">
   Contains <span class="yellowbg p-1">50 Full HD Videos</span>  of 3D Animations full of life from the Bible for kids to learn the Word of GOD the fun way yet staying on the Truth. 
 <br><br>  <span class="text-danger">Enjoy High Quality Video & Sound fit for large screens and loud speakers.</span>
  </p>

     <h2 class="my-5 text-center">
      <button class="btn-danger btn w-50 text-center" onclick="window.location.href='Tel:+256773913902'">BUY      </button>
     </h2>         
      </div>


<div class="col-md-4">
  <img src="images/john.png" alt="" class="img-fluid">
</div>
      <div class="col-md-4 m-0 ">
       <img src="images/jesus.png" alt="" class="img-fluid">
        </div>


</div>




{%include mission.html%}





{%include logopart.html%}

</div>
   
</div>
